html, body{
	width: 100%;
	height:100%;
	min-width: 320px;
	overflow-x:hidden;
    background-color: #FEFEFE;
}

html, body, h1, h2, h3, h4, p {
    padding: 0;
    margin: 0;
}

@font-face {
	font-family: 'FA';
	src: url("fonts/FA/fa-solid-900.eot");
	src: url("fonts/FA/fa-solid-900.eot?#iefix") format("embedded-opentype"),
		 url("fonts/FA/fa-solid-900.woff2") format("woff2"),
		 url("fonts/FA/fa-solid-900.woff") format("woff"),
		 url("fonts/FA/fa-solid-900.ttf") format("truetype"),
		 url("fonts/FA/fa-solid-900.svg#fontawesome") format("svg");
	font-style: normal;
	font-weight: 900;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("fonts/Material/material-icons.woff") format('woff');
}

@font-face {
	font-family: 'Open Sans Light';
	src: url('fonts/open_sans/OpenSans-Light.ttf')  format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('fonts/open_sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
	font-style: normal;
}
/*
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #A9A9A9;
}

::-webkit-scrollbar-thumb:hover {
    background: #999999;
} */

.genius {
	width: 300px;
	height: 300px;
}

.table-fixed {
	table-layout: fixed;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

.table-100 {
	height: 100%;
}

.td-header {
	height: 50px;
}

.td-body {
	position: relative;
}

.wrapper {
	position:absolute;
	top:0;left:0;
	width: 100%;
	height:100%;
	overflow-x: hidden;
	overflow-y: auto;
}

.list {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.item-list {
	padding: 5px 0 5px 0;
    overflow: hidden;
}

.message {
	padding: 5px 0 5px 0;
    overflow: hidden;
}

.message p {
	text-align: left;
	font-size: 14px;
}

.message label {
	font-family: 'Open Sans';
	font-size: 12px;
	color: #BBBBBB;
}

.item-list:hover {
	background-color: #F9F9F9;
}

.send {
	background-color: #B6FBF2;
	border-radius: 3px;
}


/* 546AF6 */
.received {
	background-color: #F9F9F9;
	border-radius: 3px;
}

.folder-title {
	padding: 0 0 10px 10px;
}

.folder-name {
	padding-top: 2px;
	font-size: 14px;
	width: 95%;
}

.truncate-multline {
	word-wrap: break-word;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.vaBaseline {
	vertical-align: baseline;
}

.h240 {
	height: 240px;
}

.folder .div-settings {
	position: absolute;
	top: 5px;
	right: 5px;
}

.folder {
	width: 90%;
	height: 120px;
	box-shadow: 1px 1px 12px #BBBBBB;
	box-sizing: border-box;
	border-radius: 3px;
	position: relative;
}

.folder:hover {
	box-shadow: 1px 1px 12px #00aedb;
}

.folder label {
	font-family: 'Open Sans';
	font-size: 80px;
	text-align: center;
	margin: auto;
}

.file-upload {
  font-size: 26px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0
}

.btn-upload {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	height: 40px;
	box-sizing:border-box;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.box {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 1px 1px 12px #BBBBBB;
	min-height: 600px;
	height: 100%;
}

.border-top-left-radius {
	border-top-left-radius: 3px;
}

.border-top-right-radius {
	border-top-right-radius: 3px;
}

.border-bottom-left-radius {
	border-bottom-left-radius: 3px;
}

.border-bottom-right-radius {
	border-bottom-right-radius: 3px;
}

* {
	box-sizing: border-box;
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, label, input, ul {
    font-family: 'Open Sans Light', Arial, Helvetica, sans-serif;
}

.content {
    width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.container {
    width: 100%;
	height: 100%;
	padding: 15px 0 15px 0;
	position: absolute;
	z-index: 999;
	box-sizing: border-box;
}

.background-header {
    width: 100%;
	height: 15%;
	background-color: #0097A7;
	position: absolute;
	z-index: 100;
}

.background-body {
    width: 100%;
	height: 100%;
	background-color: #B2EBF2;
	position: absolute;
	z-index: 90;
}

.row {
    width: 100%;
    clear: both;
    box-sizing: border-box;
    position: relative;
}

.col {
	position: relative;
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
    float: left;
}

.clear {
    padding: 0;
}

.clear-y {
    padding-top: 0;
    padding-bottom: 0;
}

.clear-y-t {
    padding-top: 0;
}

.clear-y-b {
    padding-bottom: 0;
}

.clear-x {
    padding-left: 0;
    padding-right: 0;
}

.pt5 {
    padding-top: 5px !important;
}

.pt10 {
    padding-top: 10px !important;
}

.pt20 {
    padding-top: 20px !important;
}

.pb5 {
    padding-bottom: 5px !important;
}

.pb10 {
    padding-bottom: 10px !important;
}

.pb20 {
    padding-bottom: 20px !important;
}

.ph5 {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

.ph10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.pv5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.pv10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.mt5 {
    margin-top: 5px !important;
}

.mt10 {
    margin-top: 10px !important;
}

.mt20 {
    margin-top: 20px !important;
}

.mb5 {
    margin-bottom: 5px !important;
}

.mb10 {
    margin-bottom: 10px !important;
}

.mb20 {
    margin-bottom: 20px !important;
}

.mh5 {
    margin-left: 5px;
    margin-right: 5px;
}

.mh10 {
    margin-left: 10px;
    margin-right: 10px;
}

.mv5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mv10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.size5{
    width: 5%;
}

.size5-off-set {
    margin-left: 5%;
}

.size10{
    width: 10%;
}

.size10-off-set {
    margin-left: 10%;
}

.size15{
    width: 15%;
}

.size15-off-set {
    margin-left: 15%;
}

.size20{
    width: 20%;
}

.size20-off-set {
    margin-left: 20%;
}

.size25{
    width: 25%;
}

.size25-off-set {
    margin-left: 25%;
}

.size30{
    width: 30%;
}

.size30-off-set {
    margin-left: 30%;
}

.size35{
    width: 35%;
}

.size35-off-set {
    margin-left: 35%;
}

.size40{
    width: 40%;
}

.size40-off-set {
    margin-left: 40%;
}

.size45{
    width: 45%;
}

.size45-off-set {
    margin-left: 45%;
}

.size50{
    width: 50%;
}

.size50-off-set {
    margin-left: 50%;
}

.size60{
    width: 60%;
}

.size60-off-set {
    margin-left: 60%;
}

.size65{
    width: 65%;
}

.size65-off-set {
    margin-left: 65%;
}

.size70{
    width: 70%;
}

.size70-off-set {
    margin-left: 70%;
}

.size75{
    width: 75%;
}

.size75-off-set {
    margin-left: 75%;
}

.size80{
    width: 80%;
}

.size80-off-set {
    margin-left: 80%;
}

.size85{
    width: 85%;
}

.size85-off-set {
    margin-left: 85%;
}

.size90{
    width: 90%;
}

.size90-off-set {
    margin-left: 90%;
}

.size95{
    width: 95%;
}

.size95-off-set {
    margin-left: 95%;
}

.size100{
    width: 100%;
}

.size100-off-set {
    margin-left: 100%;
}

.left {
    text-align: left;
    margin: auto;
}

.center {
    text-align: center;
    margin: auto;
}

.right {
    text-align: right;
    margin: auto;
}

.truncate {
	word-wrap: break-word;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.div-player {
    width: 100%;
    position: relative;
}

.player {
    width: 100%;
    height: 100%;
}

.player-min {
    width: 100%;
    height: 150px;
    background-color: #000000;
    position: relative;
}

.player-min-title {
    position: absolute;
    bottom: 0;
    background-color: #EEE;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 4px;
}

.cursor {
    cursor: pointer;
}

.border-bottom {
    border-bottom: 1px solid #CCC;
}

.not-d {
    display: none;
}

.not-m {
    display: table;
}

.div-time {
    height: 100%;
    background-color: #d11141;
}

.prelative {
    position: relative;
}

.pabsolute {
    position: absolute;
}

.div-time-background {
    height: 7px;
    background-color: #CCC;
}

.div-card-next {
    color: #FFF;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    border-bottom-left-radius: 3px;
    z-index: 9999;
    box-sizing: border-box;
}

.modal {
	position: absolute;
	z-index: 9999;
	background-color: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	margin: auto;
	padding-top: 40px;
	box-sizing: border-box;
}

.modal-container {
	height: 400px;
	width: 600px;
	background-color: #FFFFFF;
	margin: auto;
	border-radius: 3px;
	position: relative;
}

.modal-title {
	margin: auto;
	text-align: center;
	font-weight: 600;
	border-bottom: 1px solid #CCC;
	padding: 5px 0 5px 0;
}

.modal-footer {
	border-top: 1px solid #CCC;
	padding: 5px 0 5px 0;
	position: absolute;
	bottom: 0;
	width: 100%;
}


button {
	box-sizing: border-box;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	background-color: transparent;
	padding: 8px;
	width: 100%;
	font-size: 16px;
}

.black {
	border-color: #000000;
	color: #000000;
}

.white {
	border-color: #FFFFFF;
	color: #FFFFFF;
}

.gray {
	border-color: #EEEEEE;
	color: #EEEEEE;
}

.primary {
	border-color: #F6546A;
	color: #F6546A;
}

.secondary {
	border-color: #54F6E0;
	color: #54F6E0;
}

.tertiary {
	border-color: #546AF6;
	color: #546AF6;
}

.quaternary {
	border-color: #6AF654;
	color: #6AF654;
}

.notify {
	border-color: #f37735;
	color: #f37735;
}

.danger {
	border-color: #d11141;
	color: #d11141;
}

.warning {
	border-color: #ffc425;
	color: #ffc425;
}

.success {
	border-color: #00b159;
	color: #00b159;
}

.info {
	border-color: #00aedb;
	color: #00aedb;
}

.background-black {
	background-color: #000000;
}

.background-white {
	background-color: #FFFFFF;
}

.background-gray {
	background-color: #EEEEEE;
}

.background-primary {
	background-color: #F6546A;
}

.background-secondary {
	background-color: #54F6E0;
}

.background-tertiary {
	background-color: #546AF6;
}

.background-quaternary {
	background-color: #6AF654;
}

.background-notify {
	background-color: #f37735;
}

.background-danger {
	background-color: #d11141;
}

.background-warning {
	background-color: #ffc425;
}

.background-success {
	background-color: #00b159;
}

.background-info {
	background-color: #00aedb;
}

.border-top-primary {
	border-top: 3px solid #F6546A;
}

.border-top-secondary {
	border-top: 3px solid #54F6E0;
}

.border-top-tertiary {
	border-top: 3px solid #546AF6;
}

.border-top-quaternary {
	border-top: 3px solid #6AF654;
}

.border-top-white {
	border-top: 3px solid #FFFFFF;
}

.border-top-black {
	border-top: 3px solid #000000;
}

.border-top-gray {
	border-top: 3px solid #EEEEEE;
}

.border-right-white {
	border-right: 1px solid #FFFFFF;
}

.border-right-black {
	border-right: 1px solid #000000;
}

.border-right-gray {
	border-right: 1px solid #EEEEEE;
}

.border-right-primary {
	border-right: 1px solid #F6546A;
}

.border-right-secondary {
	border-right: 1px solid #54F6E0;
}

.border-right-tertiary {
	border-right: 1px solid #546AF6;
}

.border-right-quaternary {
	border-right: 1px solid #6AF654;
}

.hw100 {
	height: 100%;
	width: 100%;
}

.h100 {
	height: 100%;
}

.w100 {
	width: 100%;
}

.line {
	min-height: 100px;
	height: 100%;
	width: 5px;
	border-radius: 3px;
}

input:focus {
	border-color: #00aedb;
}

.disabled {
	border-color: #CCC;
	color: #CCC;
	cursor: default !important;
}

.animate-fading{animation: fading 1s}@keyframes fading{0%{opacity:0;}100%{opacity:1}}

.input-file {
	box-sizing: border-box;
	font-size: 24px;
	opacity: 0;
}

.modal-content {
	padding: 5px;
}

.desktop {
	display: block;
}

.modal-close {
	width: 600px;
	margin: auto;
	text-align: right;
	box-sizing: border-box;
	color: #FFF;
}

.material-icons:hover {
	color: #f77687;
}

.mobile {
	display: none;
}

.input {
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 3px;
	outline: none;
	padding: 8px;
	width: 100%;
}

.modal label {
	font-family: 'Open Sans Light';
	font-size: 90%;
}

.h300 {
	height: 150px;
}


@media only screen and (max-width: 1100px) {

	.h300 {
		height: 150px;
	}

	.clear {
	    padding: 0 !important;
	}

	.border-top-left-radius {
		border-top-left-radius: 0;
	}

	.border-top-right-radius {
		border-top-right-radius: 0;
	}

	.border-bottom-left-radius {
		border-bottom-left-radius: 0;
	}

	.border-bottom-right-radius {
		border-bottom-right-radius: 0;
	}

	.box {
	    background-color: #FFF;
		min-height: 600px;
		height: 100%;
		border-radius: 0;
	}

	.container {
		padding: 0;
	}

	.mobile {
		display: block;
	}

	.desktop {
		display: none;
	}

	.modal {
		padding-top: 0;
	}

	.modal-close {
		width: 100%;
		position: absolute;
		padding: 2px 2px 0 0;
		z-index: 99999;
		color: #000000;
	}

	.modal-container {
		height: 100%;
		width: 100%;
		border-radius: 0;
	}

    .col {
        padding: 5px;
    }

    .sizeM0-off-set {
        margin-left: 0;
    }

    .sizeM10{
        width: 10%;
    }

    .sizeM10-off-set {
        margin-left: 10%;
    }

    .sizeM15{
        width: 15%;
    }

    .sizeM15-off-set {
        margin-left: 15%;
    }

    .sizeM20{
        width: 20%;
    }

    .sizeM20-off-set {
        margin-left: 20%;
    }

    .sizeM25{
        width: 25%;
    }

    .sizeM25-off-set {
        margin-left: 25%;
    }

    .sizeM30{
        width: 30%;
    }

    .sizeM30-off-set {
        margin-left: 30%;
    }

    .sizeM35{
        width: 35%;
    }

    .sizeM35-off-set {
        margin-left: 35%;
    }

    .sizeM40{
        width: 40%;
    }

    .sizeM40-off-set {
        margin-left: 40%;
    }

    .sizeM45{
        width: 45%;
    }

    .sizeM45-off-set {
        margin-left: 45%;
    }

    .sizeM50{
        width: 50%;
    }

    .sizeM50-off-set {
        margin-left: 50%;
    }

    .sizeM60{
        width: 60%;
    }

    .sizeM60-off-set {
        margin-left: 60%;
    }

    .sizeM65{
        width: 65%;
    }

    .sizeM65-off-set {
        margin-left: 65%;
    }

    .sizeM70{
        width: 70%;
    }

    .sizeM70-off-set {
        margin-left: 70%;
    }

    .sizeM75{
        width: 75%;
    }

    .sizeM75-off-set {
        margin-left: 75%;
    }

    .sizeM80{
        width: 80%;
    }

    .sizeM80-off-set {
        margin-left: 80%;
    }

    .sizeM85{
        width: 85%;
    }

    .sizeM85-off-set {
        margin-left: 85%;
    }

    .sizeM90{
        width: 90%;
    }

    .sizeM90-off-set {
        margin-left: 90%;
    }

    .sizeM95{
        width: 95%;
    }

    .sizeM95-off-set {
        margin-left: 95%;
    }

    .sizeM100{
        width: 100%;
    }

    .size100-off-set {
        margin-left: 100%;
    }

    .clear-m {
        padding: 0;
    }

    .clear-m-y {
        padding-top: 0;
        padding-bottom: 0;
    }

    .clear-m-y-t {
        padding-top: 0;
    }

    .clear-m-y-b {
        padding-bottom: 0;
    }

    .clear-m-x {
        padding-left: 0;
        padding-right: 0;
    }

    .clearm-m {
        margin: 0;
    }

    .clearm-m-y {
        margin-top: 0;
        margin-bottom: 0;
    }

    .clearm-m-x {
        margin-left: 0;
        margin-right: 0;
    }

    .not-m {
        display: none;
    }

    .not-d {
        display: table;
    }

    .div-card-next {
        width: 100%;
        border-bottom-left-radius: 0;
    }

    .player-min {
        height: 200px;
    }

	.folder {
		margin: 10px auto 10px auto;
	}

}




input:focus,

select:focus,

textarea:focus,

button:focus {

    outline: none;

}



table {

    width: 100%;

    table-layout: fixed;

}



td {

    text-align: center;

}

.button-red {
	background-color: #F44336;
	border-top-right-radius: 100%;
}
.button-red:active,  .button-red.active{
	background-color: #D32F2F;
}
.button-blue {
	background-color: #2196F3;
	border-bottom-right-radius: 100%;
}
.button-blue:active,  .button-blue.active{
	background-color: #1976D2;
}
.button-green {
	background-color: #4CAF50;
	border-top-left-radius: 100%;
}
.button-green:active,  .button-green.active{
	background-color: #388E3C;
}
.button-yellow {
	background-color: #FFEB3B;
	border-bottom-left-radius: 100%;
}
.button-yellow:active,  .button-yellow.active{
	background-color: #FBC02D;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding-top: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 10px 16px;
    background-color: #5cb85c;
    color: white;
}

.modal-body {
	padding: 10px 16px;
}

.modal-footer {
    padding: 10px 16px;
    background-color: #5cb85c;
    color: white;
}



/* Prevent the text contents of draggable elements from being selectable. */

[draggable] {

  -moz-user-select: none;

  -khtml-user-select: none;

  -webkit-user-select: none;

  user-select: none;

  /* Required to make elements draggable in old WebKit */

  -khtml-user-drag: element;

  -webkit-user-drag: element;

}


/*
.container, .row {

    display: inline-block;

    box-sizing: border-box;

    width: 100%;

    padding: 7px;

}



.row {

    text-align: center;

} */



.name {

    border: 1px solid #ccc;

    border-radius: 3px;

    padding: 5px;

}



.button {

    border: 1px solid green;

    border-radius: 3px;

    background-color: green;

    width: 120px;

    padding: 10px;

    color: white;

    font-size: 16px;

    cursor: pointer;

}



.restart {

    border: none;

    background-color: transparent;

    font-size: 85%;

    color: #0000FF;

    cursor: pointer;

}



.disabled {

    cursor: default;

    opacity: 0.4;

}



.hide {

    display: none;

}



/* .content {

    display: inline-block;

    box-sizing: border-box;

    padding: 10px;

    width: 100%;

    text-align: center;

} */



.info {

    box-sizing: border-box;

    padding: 10px;

    width: 100%;

}



.area {

    display: inline-block;

    box-sizing: border-box;

    border: 1px solid #ccc;

    border-radius: 3px;

    text-align: center;

    height: 200px;

    width: 20%;

    position:relative;

}



.base {

    display: inline-block;

    box-sizing: border-box;

    /* background-color: red;

    border: 1px solid red; */

    border-radius: 3px;

    width: 100%;

    height: 20px;

    position:absolute;

    left: 0%;

    bottom: 0%;

    color: white;

	border-top-left-radius: 0;

	border-top-right-radius: 0;

}



.ring {

    box-sizing: border-box;

    /* border-style: solid; */

    /* border-width: 1px; */

    border-radius: 3px;

    height: 20px;

    margin: auto;

	position: absolute;

}



.ring.blue {

    /* background-color: blue;

    border-color: blue; */

    width: 90%;

}

.ring.orange {

    /* background-color: orange;

    border-color: orange; */

    width: 75%;

}

.ring.green {

    /* background-color: green;

    border-color: green; */

    width: 60%;

}

.ring.purple {

    /* background-color: purple;

    border-color: purple; */

    width: 45%;

}

.ring.pink {

    /* background-color: pink;

    border-color: pink; */

    width: 30%;

}

.content {
	height: auto;
}

.info {
	color: #000;
}


@media (max-width: 1166px){

	.h300 {
		height: 150px;
	}

    .area {

        width: 25%;

    }

}



@media (max-width: 800px){

    .area {

        width: 32%;

    }

}
